@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

:root {
  /* Fonts */
  --Inter: 'Inter', sans-serif;
  --Lexend-Deca: 'Lexend Deca', sans-serif;
  /* Colors */
  --Background: #0A0C1B;
  --Card-Background: #1C1938;
  --Highlights: #AA5BDB;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5;
}

body {
  margin: 0;
  padding: 10% 0;
  height: 100vh;
  width: 100vw;
  background-color: var(--Background);
  color: white;
}

.card--container {
  margin: auto;
  width: 90%;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: var(--Card-Background);
}

.card--image {
  order: -1;
}

.card--image img {
  width: 100%;
}
















/* ------------- Frontend Mentor CSS ------------- */

.attribution { 
  font-size: 11px; 
  text-align: center; 
}
.attribution a { 
  color: hsl(228, 45%, 44%); 
}