@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

:root {
  /* Fonts */
  --Inter: 'Inter', sans-serif;
  --Lexend-Deca: 'Lexend Deca', sans-serif;
  /* Colors */
  --Background: #0A0C1B;
  --Card-Background: #1C1938;
  --Highlights: #AA5BDB;
}

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 10% 0;
  height: 100vh;
  width: 100vw;
  background-color: var(--Background);
  color: white;
}

.card--container {
  margin: auto;
  width: 90%;
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  background-color: var(--Card-Background);
}

.card--information {
  padding: 2rem 2rem;
  text-align: center;
}

.card--information_title {
  margin-bottom: 2rem;
  font-family: var(--Inter);
  font-size: 3rem;
  line-height: 4rem;
}

.card--information_title span {
  color: var(--Highlights)
}

.card--information_text {
  color: rgba(255, 255, 255, 0.5);
  font-family: var(--Lexend-Deca);
  font-size: 1.5rem;
  line-height: 2.5rem;
}


.card--image {
  order: -1;
}

.card--image img {
  width: 100%;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

/* ------------- Frontend Mentor CSS ------------- */

.attribution { 
  font-family: var(--Lexend-Deca);
  margin-top: 50px;
  font-size: 11px; 
  text-align: center; 
}
.attribution a { 
  color: hsl(228, 45%, 44%); 
}